apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      queryTimeout: "60s"
      httpMethod: "POST"
    secureJsonData: {}

  - name: Elasticsearch
    type: elasticsearch
    access: proxy
    url: http://elasticsearch:9200
    database: "logstash-*"
    basicAuth: true
    basicAuthUser: "elastic"
    secureJsonData:
      basicAuthPassword: "${ELASTIC_PASSWORD}"
    jsonData:
      esVersion: "8.11.0"
      timeField: "@timestamp"
      interval: "Daily"
      maxConcurrentShardRequests: 5